<!-- views/partials/header.ejs -->

    <div class="container-fluid">

       
        <nav style="background-color:black;" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <a style="color:white;"  class="navbar-brand" href="/">
                    <span class="glyphicon glyphicon-equalizers"></span>
                    The Lean MVP
                </a>
                 <ul class="nav navbar-nav">
                    <li><a style="color:white;"  href="/">Home</a></li>
                    <li><a style="color:white;"  href="/career">Careers</a></li>
                </ul>
            </div>
        </nav>

      
    </div>
