<html>
	<head>
		<title>
			Carreer - Join Our Team
		</title>
		<style>
			div.jumbotron
			{
				height: 800px;
				text-align:center;
				color: white;
			}
				
		</style>
		 <% include ./partials/head %>
	<head>

	<body>

	    <header>
	        <% include ./partials/header %>
	    </header>

		<main>

			<div class="jumbotron" style="background-image: url(carreer.jpg);">
			  <br>
			  <br>
			  <br>
			  <br>
			  <br>
			  <br>
			  <h1>The Lean MVP Career</h1>
			  <p>We are always looking for interns to join our innovative team.</p>
			  <br>
			  <br>
			  <br>
			  <p style=" font-weight:bold;  "> Send your resume : contact@theleanmvp.com </p>
			  
			</div>

			<div class="row" >
				<div class="col-md-offset-2 col-md-4"> 
					<h3 style="text-align:center;"> WEB DEVELOPMENT INTERN </h3>
					<br>
					<p style="font-weight:bold;"> Duties: </p>
					<br>
						Implementing new feature for the web development
						<br>
						Working on a specific project with software team to coordinate development of new software
						<br>

					<p> Working 10-20 hours per week 
						<br>
						<br>
					</p>

					<p style="font-weight:bold;"> Qualifications: </p>
					<br>
					<p> Proficient in HTML, CSS, and Javascript
						<br>
						Familiar with one of the web development stack such as LAMP, Ruby on Rails or Mean Stack 
						<br>
						Proficient in using github
						<br>
						Knowldege of Shopify or Wordpress is a plus 
						<br>
						Have previous experiences in building a website
						<br>
					</p>
					<br>
					<p>Interested in building some cool websites? Send an email to <b style="color:blue;">contact@theleanmvp.com</b> with your resume and sample projects to email with the subject "Web Intern"
				</div>
				<div class="col-md-4">
					<h3 style="text-align:center;"> APP DEVELOPMENT INTERN </h3>
					<br>
					<p style="font-weight:bold;"> Duties: </p>
					<br>
						Design the interface and architecture of the app.
						<br>
						Working on a specific project with software team to coordinate development of new software
						<br>

					<p> Working 10-20 hours per week 
						<br>
						<br>
					</p>

					<p style="font-weight:bold;"> Qualifications: </p>
					<br>
					<p> Proficient in either swift or Objective-c
						<br>
						Familiar with the MVC design pattern
						<br>
						Proficient in using github
						<br>
						Knowledge in UI or UX is a plus
						<br>
						Have previous experiences in building an app.
						<br>
					</p>
					<br>
					</p>Interested in building some cool apps? Send an email to <b style="color:blue;">contact@theleanmvp.com</b> with your resume and sample projects to email with the subject "App Intern"
				</div>
			</div>

			<br>
			<br>
			<br>
			<br>

			<div class="row" >
				<div class="col-md-offset-2 col-md-4"> 
					<h3 style="text-align:center;"> BUSINESS DEVELOPMENT INTERN </h3>
					<br>
					<p style="font-weight:bold;"> Duties: </p>
					<br>
						Create a business proposal for clients
						<br>
						Collecting all informations about startups to partner with
						<br>
						Eager to learn how to do online marketing
						<br>

					<p> Working 10-20 hours per week 
						<br>
						<br>
					</p>

					<p style="font-weight:bold;"> Qualifications: </p>
					<br>
					<p> Having a good writing and oral skills
						<br>
						Have a knowlege in negotiation and cold-emailing
						<br>
						Have a knowledge in SEO and other online marketing skills
						<br>
						Accountant background is a plus
					</p>
					<br>
					<p>Interested in working as a business intern and involves in a highly dynamic environment? Send an email to <b style="color:blue;">contact@theleanmvp.com</b> with your resume and an essay consisting of 300 words of why you want to join our company to email with the subject "Business Intern"
					</p>
					
				</div>
				<div class="col-md-4">
					<h3 style="text-align:center;"> DESIGN INTERN </h3>
					<br>
					<p style="font-weight:bold;"> Duties: </p>
					<br>
						Design Apps and websites for the clients
						<br>
						Proposing new designs to the clients
						<br>

					<p> Working 15-20 hours per week 
						<br>
						<br>
					</p>

					<p style="font-weight:bold;"> Qualifications: </p>
					<br>
					<p> Knowledge of one or more: InDesign, Photoshop, Illustrator, Sketch or similar
						<br>
						Knows a little bit concept of UI and UX
						<br>
						Must have an experience of 1 year in designing
						<br>
						
					</p>

					<br>
					<br>
					Interested in designing apps and websites? Send an email to <b style="color:blue;">contact@theleanmvp.com</b> and portofolio to email with the subject "Design Intern"
				</div>
			</div>


		</main>		


		<br>
		<br>
		<br>
	    <footer>
	        <% include ./partials/footer %>
	    </footer>
	    
	</body>
</html>	