<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>
            Lean MVP
    </title>
	<style>

		div.jumbotron
		{
			background-image: url(header.jpg);
			height: 500px;

			color: white;
			text-align: center;
			margin-bottom: 0px;
		}

		div.divisions
		{
			text-align: center;
		}

		div.top
		{
			text-align: center;
		}

		div.rest
		{
			text-align: center;
		}	

	</style>
    <% include ./partials/head %>
</head>
<body>

    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <div class="jumbotron">
        	<div class="header">
            	<h1 style="text-align:center;">Get more done with</h1>
            	<h1 style="color:white;">Lean MVP</h1>

            	<br>
            	<br>

            	<h3> TO GET MORE INFO PLEASE EMAIL US AT </h3>
            	<h3> leanmvp@ymail.com </h3>
            	
        	</div>
        </div>



        <h1 style="text-align:center;"> Work with professional team for your projects </h1>

        <br>
        <br>

        <div class="divisions">

        <div class="row">
        	<div class="col-md-offset-2 col-md-4">
        		
        		<div class="thumbnail">
        			<img src="web.png">
        			
        		</div>

        		<div class="caption">
        				<h3> Website Development </h3>
        			</div>

        	</div>
        	<div class=" col-md-4">
        		
        		<div class="thumbnail">
        			<img src="ios.jpg">
        			
        		</div>
        		<div class="caption">
        				<h3> IOS App Development </h3>
        			</div>

        	</div>

        </div>




        <div class="row">
        	<div class="col-md-offset-2 col-md-4">
        		
        		<div class="thumbnail">
        			<img src="ux.jpg">
        			
        		</div>

        		

        	</div>
        	<div class="col-md-4">
        		
        		<div class="thumbnail">
        			<img src="seo.png">
        			
        		</div>

        		
        	</div>

        </div>

        <div class="row">
        	<div class="col-md-offset-2 col-md-4">
        		<div class="caption">
        			<h3> UI/UX Design</h3>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="caption">
        			<h3> SEO service </h3>
        		</div>
        	</div>
        </div>

        <br>
        <br>

        <div class="how" style="border-style: solid; border-bottom:0px; height:500px;" >
        <h1> How it works </h1>
        <br>
        <br>
        <div class="row">
        	<div class="col-md-4">
        		
        		<div class="thumbnail">
        			<img src="post.png">        			
        		</div>

        		<div class="caption">
        				<h3> Post </h3>
        				<p> Post the job and requirement of the app development to our team </p>
        		</div>

        	</div>
        	<div class=" col-md-4">
        		
        		<div class="thumbnail">
        			<img src="work.jpg">
        			
        		</div>

        		<div class="caption">
        				<h3> Work </h3>
        				<p> Our team will work on the app and stay in touch with the client to make sure the app meet the requirement. </p>
        		</div>

        	</div>

        	<div class="col-md-4">
        		<div class="thumbnail">
        			<img src="pay.jpg">
        			
        		</div>

        		<div class="caption">
        				<h3>Pay</h3>
        				<p> The client review the app requirement based on the contract and pay </p>
        		</div>

        	</div>


        </div>
        </div>

        <br>
        <br>


        <div class="pay" style="border-style: solid;">
        <h1 style="text-align:center;">2 Payment Deals</h1>
        <br>
        <br>
        <div class="row" style="text-align:center; height:400px; ">
        	<div class="col-md-offset-2 col-md-4">
        		<div class="thumbnail">
        			<img src="money.jpg">
        			
        		</div>
        		<h2>Cash</h2>
        		<p> The app development will be fully paid in the form of cash based on the contract</p>
        	</div>
        	<div class="col-md-4">
        		<div class="thumbnail">
        			<img src="stock.jpg">
        			
        		</div>
        		<h2>Cash and Equity</h2>
        		<p> Selected idea can be given equity option and and the rest will be paid by cash by the client </p>
        	</div>
        </div>
       <br>
    </div>
    </div>

        <div class="jumbotron" style="background-image:url(header2.jpg); height:700px;">
            <h1 style="text-align:center;">Build your MVP for a lot less</h1>

            <p>~ Founder of Lean MVP ~</p>

            <br>
         


        </div>

        <div class="jumbotron" style="text-align:left; background-image: url(why.jpg); height:900px;">
        		<h1 style="text-align:center; color:orange;"> WHY US? </h1>
        		<br>
        		<br>
        		<br>
        	   <!-- <h2 style="color:black">Our Motto: Get your app right and fast</h2>
        	   <br>
        	   <br> -->

            	<h3> App Development, Web Design and Development and SEO service.</h3><p>
					We help startups to build theirs most viable product (MVP). Our established process was to brainstorm all the ways in which the product or feature could be used with a range of solutions and implement a design that met as many of the requirements as possible. 
					<br>
					<br>
					With our 4 years exprience in the app development work and working with multiple clients, we deliver a first-class service that will help you achieve your goals </p>

					<br>
					<br>
					<br>
					<br>

					<h3 style="text-align:center; color: white;"> FOR MORE INFO, PLEASE EMAIL US AT </h3>
                    <h3 style="text-align:center;"> leanmvp@yahoo.com </h3>
        </div>

        <div class="top">

        <br>
        <br>
        <h3> Top Clients </h3>
        <br>
        <br>

        <div class="row">
        	<div class="col-md-4">
        		
        		<div class="thumbnail">
        			<img src="scholarble.png">
        			
        		</div>

        		<div class="caption">
        				<h3> Scholarble.com </h3>
        				
        				<p>Scholarble is a college students one-stop-shop for scholarships information. They focus the scholarships on the specific majors or schools.</p>
        		</div>

        	</div>
        	
        	<div class="col-md-4">
        		
        		<div class="thumbnail">
        			<img src="zoupon.png">
        			
        		</div>

        		<div class="caption">
        			<h3> Zoupon (Beta Tester) </h3>

        			<p> Zoupon is a marketplace connecting millions of users with the local coupons.</p>	
        		</div>


        	</div>

        	<div class="col-md-4">
        		
        		<div class="thumbnail">
        			<img src="plutus.png">
        			
        		</div>

        		<div class="caption">
        			<h3> Plutusdesign.com </h3>
        			<p> Plutus design is a high fashion specializing in the dogs apparel and human's dog apparel </p>
        		</div>

        	</div>

        </div>



        <div class="row">
        	<div class="col-md-4">
        		
        		<div class="thumbnail">
        			<img src="theme.png">
        			
        		</div>

        		

        	</div>
        	
        	<div class="col-md-4">
        		
        		<div class="thumbnail">
        			<img src="tasky.png">
        			
        		</div>

        		

        	</div>

        	<div class="col-md-4">
        		
        		<div class="thumbnail">
        			<img src="jobscore.png">
        			
        		</div>

        		

        	</div>

        </div>

        <div class="row">
        	<div class="col-md-4">
        		<div class="caption">
        			<h3> Thememap </h3>
        			<p> Thememap is an ios app that provide the theme park mapping service and route planning by foot.	</p>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="caption">
        			<h3> Tasky </h3>
        			<p> Tasky is an app that let you to order someone to do all your chorus in real time. <p> 
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="caption">
        			<h3> Job Score </h3>
        			<p> Job Score is an app that give you an overview information toward specific company about their general info and gender bias. </p>	
        		</div>
        	</div>
        </div>

    </div>

    	<br>
    	<br>
    	<!--
    	<div class="rest">
        <h2> More Portofolios </h2>
        <br>
        <br>
        <div class="row">
        	<div class="col-md-4">
        		
        		<div class="thumbnail">
        			<img src="header.jpg">
        			<div class="caption">
        				<h3> Scholarble </h3>
        				
        			</div>
        		</div>

        	</div>
        	
        	<div class="col-md-4">
        		
        		<div class="thumbnail">
        			<img src="header.jpg">
        			<div class="caption">
        				<h3> Scholarble </h3>
        				
        			</div>
        		</div>

        	</div>

        	<div class="col-md-4">
        		
        		<div class="thumbnail">
        			<img src="header.jpg">
        			<div class="caption">
        				<h3> Scholarble </h3>
        				
        			</div>
        		</div>

        	</div>

        </div>

    </div>

-->


    </main>


    <br>
    <br>

    <footer>
        <% include ./partials/footer %>
    </footer>
    
</body>
</html>